@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    <b style="color:red"> Town Utility Bill System </b> is a web application that helps to manage by the data for the town utility
    services such as the electricity, the water, the heating and the gas. Also it operates by the customer bill system.
</p>
<p>
    <b style="color:red"> DONG Energy</b> is one of Northern Europe's leading energy groups and is headquartered in Denmark. Around 6,500
    ambitious employees develop, construct and operate offshore wind farms, generate power and heat from our power
    stations as well as supply and trade in energy to wholesale, business and residential customers. In addition, we produce
    oil and gas, and a process has been initiated to divest this business unit. The continuing part of the Group has approx 6,100 employees
    and generated a revenue in 2016 of DKK 61 billion (EUR 8.2 billion).
</p>
