
@{
    ViewBag.Title = "CreateCustomer";
}

<h2><strong>@ViewBag.Message</strong></h2>

<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
    <span class=" glyphicon glyphicon-arrow-left"></span> <strong>Back to previous page</strong>
</a>
